# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Django
db.sqlite3
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Node
node_modules/

# ChromaDB
chroma_db/

# Testing/cache
.pytest_cache/
.mypy_cache/